.team {
  background: black url("../images/bg-team.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  color: #fff;
  padding: 50px;
  padding-top: 250px;
  font-size: 1.2em;

  @media screen and (max-width: 580px) {
    padding-top: 290px;
  }

  &-top {
    width: 600px;
    margin-bottom: 50px;
  }

  &-modal {
    width: 90%;
    height: auto;

    &_close {
      background: $color;
      padding: 13px 14px;
      border-radius: 25px;
      color: #fff;
      position: absolute;
      right: 210px;
      top: 100px;

      &:hover {
        color: #fff;
      }
    }

    &_group {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: 100%;
      height: 100%;
      z-index: 7;
      visibility: hidden;
      max-width: 1380px;

      &::after {
        display: block;
        position: fixed;
        background: rgba(0, 0, 0, 0.233);
        content: " ";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
      }

      img {
        width: 270px;
        position: absolute;
        top: 180px;
        left: 150px;
        box-shadow: -7px 9px 16px 6px #0000006e;
        transform: scale(0);
        transition: transform 0.5s ease-in-out;
        transform-origin: left;
        transition-delay: 0.9s;
        visibility: hidden;
      }

      .team-modal_text {
        font-size: 1.2em;
        width: 600px;
        position: absolute;
        left: 440px;
        text-align: left;
        top: 170px;
        color: $color;
        opacity: 0;
        visibility: hidden;
        transition-delay: 2s;
        transition: opacity 0.5s ease-in-out;

        h1 {
          font-weight: bold;
          font-size: 1.3em;
        }

        p {
          font-size: 0.9em;

          &:first-child {
            margin-top: 15px;
          }
        }

        ul {
          list-style: inherit;
          margin-top: 15px;
          padding-left: 20px;
          font-size: 0.75em;
        }
      }

      .team-modal_back,
      .team-modal_front,
      .team-modal_shadow {
        transform: scale(0);
        transition: transform 0.5s ease-in-out;
        transform-origin: left;
        visibility: hidden;
      }

      .team-modal_back {
        transition-delay: 0.3s;
        transform-origin: left;
      }

      &.show {
        visibility: visible;

        .team-modal_front,
        .team-modal_back,
        .team-modal_shadow,
        img {
          transform: scale(1);
          visibility: visible;
        }

        .team-modal_text {
          opacity: 1;
          visibility: visible;
        }

        @media screen and (max-width: 1300px) {
          .team-modal {
            display: none;
          }

          .team-modal-mobile {
            background: #fff;
            width: 90vw;
            height: 90vh;
            margin: auto;
            margin-top: 5vh;
            border-radius: 40px;
          }

          .team-modal_close {
            right: 80px;
            top: 15px;
          }

          img {
            top: 70px;
            box-shadow: none;
            left: 78px;
            transition: none;
          }

          .team-modal_text {
            font-size: 1.4em;
            top: 68px;
            left: 370px;
            width: auto;
            padding-right: 10vh;
            height: 80vh;
            overflow: auto;
          }
        }

        @media screen and (max-width: 700px) {
          img {
            display: none;
          }

          .team-modal_text {
            left: 10vh;
          }
        }
      }
    }

  }

  .container {
    border: 4px solid #fff;
    border-bottom-right-radius: 110px;
    border-top-left-radius: 110px;
    padding: 50px;
    text-align: center;
  }

  .column {
    text-align: center;
    cursor: pointer;
  }
}
