
.atuacao-header{ 
    margin: 80px;
    display: flex;
    width: 90%;
     max-width: 1200px;
    

}
.atuacao-header>img{
    width: 80%;
    
}


.textos-header{
    margin: 20px;
    
}

.textos-header h2{
    font-size: 2.2em;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    height: 80px;
}

.atuacao-header p{
    font-weight: 100;
    margin-top: 14px;
    color: #5D6678;
    display: justify;
}

.atuacao-button a{
    margin: 10px;
    width: 100px;
    display: inline-block;
    background: #0d0e0d;
    text-align: center;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    font-weight: 40;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
}

@media screen and (max-width:800px){

    .atuacao-header{
        flex-direction: column;
        justify-content: space-evenly;
        height: 520px;
        display: center;
        text-align: center;
    }

    .atuacao-header>img{
        width: 80%;
    }

    .textos-header {
        margin: 0;
    }
}
