.conteudo{
   
    @media screen and (max-width: 580px) {
      padding-top: 290px;
    }
    a {
      margin: 28px 0 0 0;
      width: 130px;
      display: inline-block;
      background: #0d0e0d;
      text-align:center;
      color: #fff;
      padding: 12px;
      text-decoration: none;
      font-weight: 40;
      text-transform: uppercase;
      font-size: 14px;
      border-radius: 5px;
    }
    p {
      margin: 0 0 15px;
      text-align: center;
    }
  
    h2 {
      font-size: 2.2em;
      text-align: center;
      font-weight: bold;
    }
  
    h3 {
      font-size: 1.5em;
      font-style: italic;
      font-weight: bold;
      text-align: center;
        
    }
  
    h2,
    h3 {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }
  }