

.contact {
  width: 100%;
  background:  rgb(0, 0, 0);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 100%;
  padding: 50px;
  padding-bottom: 10px;
  font-size: 1.2em;
  color: #ffff;

  @media screen and (max-width: 750px) {
    padding-left: 25px;
    padding-right: 25px;

    p {
      font-size: 0.7em;
    }
  }

  * {
    font-family: "Soleto", Helvetica, Arial, sans-serif;
  }

  iframe,
  .input,
  .textarea,
  .button {
    border-radius: 10px;
  }

  .input,
  .textarea {
    background: transparent;
    color: #ffff;
    border-radius: 10px;

    &::placeholder {
      color: rgb(255, 255, 255);
    }
  }

  .button {
    color: rgb(255, 255, 255);
    background: transparent;
  }
  
   h2 {
     font-size: 35px;
    //  width: 15%;
    text-align: center;
    display:center;
     width: 150px;
     height: 80px;
     font-size: 35px; 
     margin-left: 40%;
     margin-right: 40%;
     color: rgba(226, 204, 81, 0.966);
    border-bottom: 3px solid;
    border-bottom-color:  rgba(226, 204, 81, 0.966);
     margin-bottom: 80px;
     margin-top: 80px;
   }
}
