.equipe-ground{
    // background: #f1f1f1;
   margin: 20px;
   padding: 20px;
   display: center;
   text-align: center;
   
}

.equipe-ground h2 {
    font-size: 35px;
    text-align: center;
    display:inline-block;
    height: 80px;
    font-size: 35px; 

    color: rgba(226, 204, 81, 0.966);
    border-bottom:solid rgba(226, 204, 81, 0.966);
    border-bottom-width: 3px;
    margin-bottom: 80px;
    margin-top: 80px;
}
.equipe-card{
    display: flex;
    flex-wrap: wrap;
    max-width: 950px;
    margin: 0 auto;
}


// .equipe-card{
    
//     // text-align: center;
//     // padding: 20px;
//     margin: auto;
//     width: 90%;
//     max-width: 980px;
  
//     display: grid;
//     grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
//     grid-gap: 20px;
// }
// .equipe-informacao{
    
//     display: grid;
//     flex-direction: column;
//     background-color: #0a0a0aec;
//      cursor: pointer;
//     transition: all 0.3s ease 0s;
//     text-align: center;
//     margin: 10px;
    
// }
.equipe-informacao{
    background-color: #0a0a0aec;
      cursor: pointer;
    transition: all 0.3s ease 0s;
    flex: 1 300px;
    margin: 10px;
    color: rgba(226, 204, 81, 0.966);
    border: 3px solid rgba(226, 204, 81, 0.966);
}

.equipe-informacao:hover{
    transform: translateY(-7px);
    
}

.equipe-informacao>h3{
    padding: 10px;
    font-size: 24px;
    margin-top: 30px ;
    color: #ececec;
   
}

.equipe-informacao>p{
    // background:  #3f3f3f;
    font-weight: 100;
    color: #ffff;
    margin-top: 15px;
    padding-bottom: 20px;
}

.equipe-informacao>a{
    color: rgba(226, 204, 81, 0.966);
    font-weight: 400;
    text-decoration: none;
    margin: 10px;
}

// @media screen and (max-width:420px){

//     .atuacao-header{
//         flex-direction: column;
//         justify-content: space-evenly;
//         height: 520px;
//         display: center;
//         text-align: center;
//     }
// }

// .equipe-informacao>a:hover{
//     color: #0c0c0c;
//     transition: color .5s;
// }

