$m970px: "screen and (min-width : 970px)";

.header {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 20px;
  background: rgb(0, 0, 0);
  // border-bottom: 1px solid transparent;
  // box-shadow: 1px 1px 10px 0 rgb(247, 246, 246);
  // background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 3;

  /* @media #{$m970px} {} */

  .logo {
    width: 300px;

    @media screen and (max-width: 974px) {
      width: 150px;
    }

    @media screen and (max-width: 750px) {
      width: 100px;
    }

    @media screen and (max-width: 600px) {
      width: 50px;
      margin-left: 10px;
      margin-bottom: -20px;
    }
  }

  .container {
    display: flex;
    align-items: center;

    @media screen and (max-width: 750px) {
      flex-direction: column;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    //  background-color: rgb(0, 0, 0);
    // padding: 20px;
    // border-radius: 10px; 

    @media screen and (max-width: 600px) {
      flex-direction: row;
      flex-wrap: wrap;
      padding: 10px;
      background: #00000038;
      margin-top: 50px;
    }
  }

  li {
    display: inline-block;
    align-items: center;
    width: 100%;
    flex: 1;
    font-family: "aileronsregular", Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: white;
  

    // @media screen and (max-width: 580px) {
    //   width: 33.33%;
    //   flex: none;
    // }

    
  }
 
  a {
    text-align: center;
    display: block;
    width: 100%;
    color: white;
    opacity: .8;
    padding: 0 .5em;
    text-decoration: none;
    font-size: 1.9em;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.51);
    letter-spacing: -9px;

    // @media screen and (max-width: 974px) {
    //   font-size: 1.7em;
    //   letter-spacing: -8px;
    //   padding: 0;
    // }
  }

  p {
    font-size: 2em;
    font-weight: bold;
    margin: 0;
  }


}

.awssld {
  height: 100vh;

  @media screen and (max-width: 750px) {
    height: 60vh;
  }
}
