.enlaces-header{
    font-weight: 300;
    transition: ease-in-out 0.5s; 
}

.nav .enlaces-header a{
    color: #5d6678;
    text-decoration: none;
    margin-left: 20px;
    
}
.hamburguer{
    width: 80px;
    height: 80px;
    display: none;
    text-align: center;
    z-index: 100;
    cursor: pointer;
    transition: color 0.5s ease-in;
}

.hamburguer > img{
    font-size: 25px;
    line-height: 80px;
}

@media screen and (max-width:600px){
   
    .nav{
        padding: 0 10px;
    }

    .contenido-header>img{
        width: 200px;
    }

    .enlaces-header{
        position: fixed;
        background: #24C6DC;  
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #514A9D, #24C6DC); 
         /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #514A9D, #24C6DC); 
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        clip-path: circle(0.0% at 100% 0);

    }
    .nav .menudos{
        -webkit-clip-path: circle(150% at 100% 0); 
        clip-path: circle(150% at 100% 0);
    }
    .nav .enlaces-header a{
        color: #fff;
    }

    .hamburguer{
        display: block;
       
    }
}