.informacao{
    background: #e4dfdf;
    
}
.informacao h2 {
  font-size: 2.2em;
  text-align: center;
  font-weight: bold;
  height: 150px;
  margin-bottom: 20px;
}

.cards {
    width: 90%;
    max-width: 980px;
    margin: auto;
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 10px;

}

.card {
    display: flex;
    flex-direction: column;
    background-color: rgb(238, 238, 238);
    // transition: 0.5s ;
    margin: 10px;
    text-align: center;
    
}

// .card:hover {
//     box-shadow: 0 4px 10px rgba(17, 29, 48, .26);
    
// }
.image {
    width: 50%;
    padding-top: 30.25%;
  
    overflow: hidden;
    position: relative;
  }

.image img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .content {
    margin: 20px;
  }
  
  .title-t {
    margin-bottom: 20px;
  }

  .text--medium {
    font-size: 1.6rem;
    line-height: 2.6rem;
    font-weight: 200;
    color: #050505;
  }  
  
  .info {
    display: fixed;
    // align-self: end;
    align-items: center;
   
  }

.card a{
  margin: 0;
  width: 130px;
  display: center;
  background: #0d0e0d;
  text-align:center;
  color: #fff;
  padding: 12px;
  text-decoration: none;
  font-weight: 40;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 5px;
    
}
.card a:hover{
    color: #363636;
    transition: color .5s;
}
