// .informacao{
//     background: #e4dfdf;
    
// }
.informacao h2 {
  font-size: 2.0rem;
  text-align: center;
  display: center;
  font-weight: bold;
  height: 150px;
  margin-bottom: 20px;
}
 
.cards {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;

}

.card {
  
    display: grid;
    flex-direction: column;
    background-color: rgb(238, 238, 238);
    // transition: 0.5s ;
    // margin: 10px;
    text-align: center;
    // padding: 10px;
    
}

// .card:hover {
//     box-shadow: 0 4px 10px rgba(17, 29, 48, .26);
    
// }
.image {
    width: 100%;
    padding-top: 30.25%;
  
    overflow: hidden;
    position: relative;
  }

.image img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    // transform: translate(-50%, -50%);
  }

  .content {
    margin: 10px;
    // display: center;
    text-align: justify;
    
    
  }
  
  .title-t {
    margin-bottom: 20px;
    
  }

  .text--medium {
    font-size: 1.6rem;
    line-height: 2.6rem;
    font-weight: 200;
    color: #050505;
    
  }  
  
  .info {
   position: absolute;
   bottom: 0;
   display: inline-block;
   left: 35%;
   margin: 10px;
   
  }

  .content a{
  margin: 5px;
  // width: 130px;
  // display: inline-block;
  // text-align: center;
  background: #0d0e0d;
  color: #fff;
  padding: 10px;
  text-decoration: none;
  // font-weight: 40;
  // text-transform: uppercase;
  font-size: 14px;
   border-radius: 5px;
   position: end;
    bottom:0;    
  }
.card a:hover{
    color: #363636;
    transition: color .5s;
}
