// .informacao{
//     background: #e4dfdf;
    
// }
.informacao h2 {
  font-size: 2.0rem;
  font-weight: bold;
  display: flex;
  text-align: center;
  height: 100px;
  margin-left: 32%;
  margin-right: 32%;
  color: rgba(226, 204, 81, 0.966);
  // border-bottom:solid rgba(226, 204, 81, 0.966);
  // border-bottom-width: 3px;
  margin-bottom: 80px;
  margin-top: 100px;
}
 .informacao h3 {
  font-weight: bold;
  font-size: 1.5rem;
  color: rgba(226, 204, 81, 0.966);
  margin-top: 10px;
  // margin: 10px;
  // display: center;
  text-align: justify;
 }
.cards {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;

}

.card {
  
    display: grid;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    // transition: 0.5s ;
    // margin: 10px;
    text-align: center;
    // padding: 10px;
    border: 3px solid;
    border-color: rgba(226, 204, 81, 0.966);
    
}

// .card:hover {
//     box-shadow: 0 4px 10px rgba(17, 29, 48, .26);
    
// }
.image {
    width: 100%;
    padding-top: 30.25%;
  
    overflow: hidden;
    position: relative;
  }

.image img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    // transform: translate(-50%, -50%);
  }

  .content {
    margin-top: 10px;
    // display: center;
    text-align: justify;
    
    
  }
  
  .title-t {
    margin-top: 0px;
    
  }

  .text--medium {
    
    font-size: 1.0rem;
    line-height: 1.5rem;
    font-weight: 200;
    color: #fff;
    text-align: justify;
    // margin-top: 40px;
  }  
  
  .info footer {
   
  //  bottom:0;
  //  height: 10px;
   max-width: 100%;
  //  border-top: 3px solid;
  //  border-color: rgba(226, 204, 81, 0.966);
  }

  .info button{
    position: absolute;
    margin-bottom: 0;
       width: 130px;
        // display: inline-block;
        background:rgba(255, 255, 255, 0.014);
        text-align:center;
        color: rgba(226, 204, 81, 0.966);
        padding: 12px;
        border: 3px solid;
        border-color: rgba(226, 204, 81, 0.966);    
       
        //     
  }
.info button:hover{
  opacity: 0.9;
  color: #fff;
  background: rgba(226, 204, 81, 0.966);
  transition: color .5s;
}
