.partFooter{
    width: 20%;
    text-align: center;
   
}

.partFooter h4{
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
}

.partFooter a{
    display: center;
    text-decoration: none;
    color: #ffffff;
    font-weight: 300;
    margin-bottom: 10px;

    
}

.partFooter a:hover{
    color: #de1f1f;
}
.svg{
   
    width: 150px;
    height: 150px;
    margin-top: 20px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    margin-right: 5px;
  
   
}
.partFooterImg img{
    font-size: 20px;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 80%;
    width: 150px;
    height: 150px;
    margin-top: 20px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    margin-right: 5px;
}
