.partFooter{
    width: 20%;
    text-align: center;
    
}

.partFooter h4{
    color: #ffff;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
}

.partFooter a{
    display: center;
    text-decoration: none;
    color: #ffffff;
    font-weight: 300;
    margin-bottom: 10px;

    
}

.partFooter a:hover{
    color: #de1f1f;
}

.partFooter span{
    color: #ffff;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
    display: center;
}
.partFooter p {
    color: rgba(226, 204, 81, 0.966);
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
    display: center;
}
.partFooterSocial svg{
   
    width: 50px;
    height: 50px;
    margin-top: 20px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    margin-right: 5px;
    cursor: pointer;
    color: #ffff;
}

.partFooterImg img{
    font-size: 20px;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 80%;
    width: 150px;
    height: 150px;
    margin-top: 20px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    margin-right: 5px;
}
//Responsivel
@media (max-width: 700px) {

    .partFooter {
        flex-direction: column;
        text-align: center;
    }
    .partFooter{
        width: 95%;
        margin-bottom: 40px;
    }

    footer{
        justify-content: space-evenly;
    }

   
}